nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hide menu button on desktop */
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}



@media screen and (min-width: 1025px) and (max-width:1200px) {}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .hero {
        margin-top: 80px !important;
    }

    .hero-content p {
        font-size: 1.1rem;
        margin-top: 20px;
    }

    .hero-image img {
    max-width: 104%;
    filter: grayscale(100%);
}

    .hero-content h1 {
        font-size: 3.5rem;
    }

    .hero-content h4 {
        font-size: 30px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        .about {
        padding: 50px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        justify-items: center;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

}

@media screen and (min-width: 481px) and (max-width:768px) {

        .hero {
        margin-top: 80px !important;
    }

    .hero-content p {
        font-size: 1.1rem;
        margin-top: 20px;
    }

    .hero-image img {
    max-width: 100%;
    filter: grayscale(100%);
}

    .hero-content h1 {
        font-size: 3.5rem;
    }

    .hero-content h4 {
        font-size: 30px;
    }
    nav {
        position: relative;
    }

  .menu-toggle {
        display: block;
        color: #000;
        transition: var(--transition);
        z-index: 1;
    }

    .nav-links li a {
        color: white;
    }

    .menu-toggle i {
        color: white;
    }

     .about {
        padding: 50px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        justify-items: center;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

 .nav-links {
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        text-align: center;
        display: none;
        padding: 66px 0;
        transition: var(--transition);
    }

    .nav-links li {
        margin: 15px 0;
    }

    .nav-links.active {
        display: flex;
    }

        .footer-grid{
    display: flex;
    justify-content: space-around;
}
    .footer-container {
        text-align: none;
    }
        .footer-grid {
        text-align: none;
    }
    .hire_me{
        display: none;
    }
}
@media screen and (min-width: 320px) and (max-width:480px) {

        .hero {
        margin-top: 80px !important;
    }

    .hero-content p {
        font-size: 1.1rem;
        margin-top: 20px;
    }

    .hero-image img {
    max-width: 100%;
    filter: grayscale(100%);
}

        .hero-content h1 {
        font-size: 2.3rem;
    }
    .hero-content h4 {
        font-size: 30px;
    }
    nav {
        position: relative;
    }

    .hero-btns{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .btn-outline {
    border: 2px solid #333;
    color: white;
    margin-left: 0px;
}

  .menu-toggle {
        display: block;
        color: #000;
        transition: var(--transition);
        z-index: 1;
    }
        .hero-content h4 {
        font-size: 21px;
    }

    .about-right p {
    font-size: 13px;
}

.about-right h2 {
    font-size: 2.2rem;
}
.skills {
    margin-bottom: 40px;
    display: block;
    align-items: center;
}
.stats {
    display: block;
    gap: 20px;
    margin-bottom: 100px;
    padding-top: 100px;
}
.testimonials {
    padding: 1px 20px;
}

section#portfolio {
    padding: 0px 0px;
    margin-top: 50px;
}

    .nav-links li a {
        color: white;
    }

    .menu-toggle i {
        color: white;
    }

     .about {
        padding: 50px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        justify-items: center;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

 .nav-links {
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        text-align: center;
        display: none;
        padding: 66px 0;
        transition: var(--transition);
    }

    .nav-links li {
        margin: 15px 0;
    }

    .nav-links.active {
        display: flex;
    }

         .footer-grid {
        display: flex;
        /* justify-content: space-around; */
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom {
    max-width: 1200px;
    margin: 60px auto 0;
    padding: 25px 10px 0;
    }
    .footer-container {
    gap: 50px;
    padding: 0 12px;
}




    .footer-container {
        text-align: none;
    }
        .footer-grid {
        text-align: none;
    }
    .hire_me{
        display: none;
    }
    .contact-info .info-item {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.03);
    padding: 20px;
    border-radius: 15px;
    /* width: 100%; */
    flex-direction: column;
}
.footer-container {
    flex-wrap: nowrap;
}
}